.wrapper {
    width: 100%;
    height: 100%;
    transition: all var(--transition);
    background-color: var(--bg-secondary);
  }
  
  .container {
    padding: 2rem;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    position: relative;
  }