.wrapper {
    width: 100vw;
    height: 100dvh;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.wrapper.mobile .container
{
    flex-direction: column;
}

.content_container {
    width: 100%;
    height: 100svh; 
    position: relative;
    display: flex;
    flex-direction: column;
}

.mobile .content_container {
  height: calc(100svh - 70px);
}

.error_container,
.message_loader_container,
.ws_status_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--space-2)
}

.error_container {
    gap: var(--space-6);
}

.message_loader,
.ws_status_loader {
    width: 50px !important;
    height: 50px !important;
}


.meassage,
.ws_status {
    font-size: var(--text-lg);
    font-weight: var(--font-semibold);
    color: var(--text-primary);
}

.contact_message {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: var(--text-lg);
    font-weight: var(--font-semibold);
    color: var(--text-primary);
    padding: var(--space-4);
}

.error_message {
    font-size: var(--text-lg);
    font-weight: var(--font-semibold);
    color: var(--text-primary);
    text-align: center;
}