.messages_container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: var(--bg-secondary);
  overflow: hidden; 
}

.messages_area {
  flex: 1;
  overflow-y: auto; 
}

.messages_area::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.messages_area::-webkit-scrollbar-track {
  background: var(--neutral-100);
  border-radius: 6px;
}

.messages_area::-webkit-scrollbar-thumb {
  background-color: var(--primary-500);
  border-radius: 6px;
  border: 2px solid var(--neutral-100);
}

.messages_area::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-600);
}


.messages_area {
  flex: 1;
  padding: var(--space-6);
  overflow-y: auto;
}

.messages_list {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
}

.day_separator_container {
   width: 100%;
   height: auto;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: var(--space-3);
   padding: var(--space-4) 0;
}

.day_separator_line {
  flex: 1;
  height: 2.5px;
  background: var(--border-medium);
}

.day_separator {
  font-size: var(--text-lg);
  font-weight: var(--font-semibold);
  color: var(--text-primary);
  white-space: nowrap; 
  font-size: var(--text-xs);
}
